.header{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 6rem;  
  &__wrap{
    display: flex;
    justify-content: flex-end;
  }
  &__nav{
    ul{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li{
        margin-left: 3rem;
        a{
          white-space: nowrap;
          color: #8684B9;
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 140%;
          &:hover{color: #fff;}
        }
      }
    }
  }
  @media only screen and (max-width : 767px){
    position: fixed;
    padding: 2rem 0;
    z-index: 998;
    &__nav{
      padding-top: 5.8rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #1B1871;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform .25s;
      transform: translateY(-110%);
      &.open{transform: translateY(0);}
      ul{
        display: block;
        li{
          margin-left: 0;
          margin-bottom: 1rem;
          text-align: center;
        }
      }
    }
    
  }
}
.header-logo{
  position: absolute;
  z-index: 998;
  top: 6rem;
  height: 3.2rem;
  left: 0;
  width: 100%;
  .container{
    position: relative;
    height: 100%;
  }
  &__img{width: 21.2rem;}
  @media only screen and (max-width : 767px){
    z-index: 999;
    position: fixed;
    top: 0;
    height: auto;
    padding: 2rem 0;
    background-color: #1B1871;
    box-shadow: 0 4px 4rem rgba(27, 24, 113, .1);
    &__img{
      width: 12rem;
      position: static;
    }
  }
}
.burger{
  display: none;
  @media only screen and (max-width : 767px){
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    &::before,
    &::after{
      content: '';
      display: block;
      background-color: #8684B9;
      width: 2.4rem;
      height: 2px;
      position: absolute;
      left: .3rem;
      top: 50%;
      margin-top: -1px;
      transition: transform .25s, margin-top .25s .25s;
    }
    &::before{margin-top: -.5rem;}
    &::after{margin-top: .5rem;}
    &.open{
      &::before,
      &::after{transition: margin-top .25s, transform .25s .25s;}
      &::before{
        margin-top: 0;
        transform: rotate(-45deg);
      }
      &::after{
        margin-top: 0;
        transform: rotate(45deg);
      }
    }
  }
}
.hide-title{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8.4rem;
  padding-top: 3.4rem;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  opacity: 0;
  z-index: 6;
  transition: opacity var(--duration);
  &::before{
    content: '';
    display: block;
    height: 4px;
    width: 8rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -4rem;
    background-color: #00D2EF;
    transition: opacity var(--duration) var(--duration);
  }
}

@media only screen and (min-width : 768px) and (orientation: landscape){
  .header{
    transition: opacity var(--duration);
    opacity: 0;
  }
  .header-logo img{
    position: absolute;
    top: calc(50vh - 6rem);
    left: 50%;
    transition: opacity var(--duration), transform var(--duration), top var(--duration), left var(--duration);
    opacity: 0;
    transform: translate(-50%, -50%) scale(10);
  }
  
  body.step-1{
    .hide-title{
      display: block;
      opacity: 0;
    }
    .header-logo img{
      opacity: 1;
      transform: translate(-50%, -50%) scale(2.5);
    }
    &.step-2{
      .hide-title{opacity: 1;}
      &.step-3{
        .hide-title{opacity: 0;}
        &.step-4{
          .hide-title{display: none;}
          .header-logo img{
            top: 0;
            left: 6rem;
            transform: translate(0, 0) scale(1);
          }
          .header{opacity: 1;}
        }
      }
    }
    
  }
}